# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
# Create Series with random numbers
series1 = pd.Series([random.randint(1, 4) for _ in range(100)])
series2 = pd.Series([random.randint(1, 3) for _ in range(100)])
series3 = pd.Series([random.randint(10000, 30000) for _ in range(100)])

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
df = pd.concat([series1, series2, series3], axis=1)

df.columns = ['Random_1_to_4', 'Random_1_to_3', 'Random_10000_to_30000']

print(df.head())

   Random_1_to_4  Random_1_to_3  Random_10000_to_30000
0              2              1                  26497
1              4              3                  21226
2              1              3                  13052
3              2              2                  10701
4              1              1                  28622

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [10]:

df = pd.concat([series1, series2, series3], axis=1)
df.rename(columns={0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)


print(df.head())

   bedrs  bathrs  price_sqr_meter
0      2       2            29398
1      1       1            29232
2      1       1            24639
3      3       3            22788
4      2       3            24706

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [4]:
# Concatenate the Series into a one-column DataFrame
bigcolumn = pd.concat([series1, series2, series3], axis=0)



# Rename the column to 'bigcolumn'
bigcolumn.columns = ['bigcolumn']

bigcolumn

0         2
1         4
2         1
3         2
4         1
      ...
95    14687
96    29240
97    27668
98    22890
99    15325
Length: 300, dtype: int64

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [5]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [18]:
# Reset the index to have a continuous index for the new DataFrame

bigcolumn.reset_index(drop=True, inplace=True)

# Rename the column to 'bigcolumn'
bigcolumn.columns = ['bigcolumn']

# Display the first few rows of the new DataFrame
bigcolumn

0          2
1          1
2          1
3          3
4          2
       ...
295    23107
296    23889
297    20503
298    12739
299    20371
Length: 300, dtype: int64