# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
pokemon_data = {
    "Evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "HP": [45, 39, 44, 45],
    "Name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "Pokédex": ["yes", "no", "yes", "no"],
    "Type": ["grass", "fire", "water", "bug"]
}

### Step 3. Assign it to a variable called

In [3]:
pokemon = pd.DataFrame(pokemon_data)
pokemon

    Evolution  HP        Name Pokédex   Type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon_df = pd.DataFrame(pokemon_data, columns=["Name", "Type", "HP", "Evolution", "Pokédex"])
pokemon_df

         Name   Type  HP   Evolution Pokédex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
pokemon_df["Place"] = ["Forest", "delhi", "Ocean", "chennai"]
pokemon_df

         Name   Type  HP   Evolution Pokédex    Place
0   Bulbasaur  grass  45     Ivysaur     yes   Forest
1  Charmander   fire  39  Charmeleon      no    delhi
2    Squirtle  water  44   Wartortle     yes    Ocean
3    Caterpie    bug  45     Metapod      no  chennai

### Step 6. Present the type of each column

In [6]:
print(pokemon_df.dtypes)

Name         object
Type         object
HP            int64
Evolution    object
Pokédex      object
Place        object
dtype: object

### BONUS: Create your own question and answer it.

# In the Pokémon evolution dataset, which Pokémon has the highest Hit Points (HP)?

In [7]:
pokemon_with_highest_hp = pokemon_df[pokemon_df['HP'] == pokemon_df['HP'].max()]

print(pokemon_with_highest_hp)

        Name   Type  HP Evolution Pokédex    Place
0  Bulbasaur  grass  45   Ivysaur     yes   Forest
3   Caterpie    bug  45   Metapod      no  chennai