# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [31]:

import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [32]:

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [33]:

chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [34]:

#The first element of the shape tuple will give you the number of rows. 

num_observations = chipo.shape[0]
print("Number of observations:", num_observations)

Number of observations: 4622

In [35]:
# Solution 2
# Find the number of observations (rows) in the DataFrame using len()
num_observations = len(chipo)
print("Number of observations:", num_observations)

Number of observations: 4622

### Step 6. What is the number of columns in the dataset?

In [36]:
# Find the number of columns in the DataFrame using the columns attribute
num_columns = len(chipo.columns)
print("Number of columns:", num_columns)

Number of columns: 5

### Step 7. Print the name of all the columns.

In [37]:
# Print the names of all the columns
column_names = chipo.columns
column_names

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [38]:
#Each row in the DataFrame is assigned an integer index starting from 0 and incrementing by 1 for each subsequent row
# Print the index of the DataFrame
print(chipo.index)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [39]:
# Group the data by item name and sum the quantity ordered for each item

item_quantity = chipo.groupby('item_name')['quantity'].sum()

#We use idxmax() to find the index (item name) with the maximum quantity ordered, representing the most-ordered item.


most_ordered_item = item_quantity.idxmax()


print("The most-ordered item is:", most_ordered_item)

The most-ordered item is: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [40]:
# Find the quantity ordered for the most-ordered item

items_ordered = item_quantity.max()


# Print the most-ordered item and its quantity

print("The most-ordered item is:", most_ordered_item)
print("Quantity ordered:", items_ordered)

The most-ordered item is: Chicken Bowl
Quantity ordered: 761

### Step 11. What was the most ordered item in the choice_description column?

In [41]:
# Group the data by choice description and sum the quantity ordered for each choice description

choice_description_quantity=chipo.groupby('choice_description')['quantity'].sum()


# Find the most-ordered choice description (the one with the highest quantity)


most_ordered_choice=choice_description_quantity.idxmax()


# Find the quantity ordered for the most-ordered choice description

quantity_ordered=choice_description_quantity.max()


print("The most-ordered choice description is:", most_ordered_choice)
print("Quantity ordered:", quantity_ordered)

The most-ordered choice description is: [Diet Coke]
Quantity ordered: 159

### Step 12. How many items were orderd in total?

In [42]:
#caluclate the total number of item ordered 

total_items_ordered= chipo['quantity'].sum()

print("Total items ordered in total :", total_items_ordered)

Total items ordered in total : 4972

### Step 13. Turn the item price into a float

Step 13.a. Check the item price type

In [43]:
print(chipo['item_price'].dtype)

object

Step 13.b. Create a lambda function and change the type of item price

In [44]:
# Create a lambda function to convert 'item_price' to a float
convert_to_float = lambda x: float(x.replace('$', ''))

# Apply the lambda function to the 'item_price' column

chipo['item_price'] = chipo['item_price'].apply(convert_to_float)



# lambda function to each value in the 'item_price' column using the apply() method.

# Check the data type 
item_price_type = chipo['item_price'].dtype


#dollar = lambda x: float(x[1:])
#chipo.item_price = chipo.item_price.apply(dollar)



#Use map to apply the lambda function to each element in the list
#dollar = lambda x: float(x[1:])
#float_amounts = list(map(dollar, item_price))

#### Step 13.c. Check the item price type

In [45]:
# Print the data type of 'item_price'
print("Data type of 'item_price':", item_price_type)

Data type of 'item_price': float64

### Step 14. How much was the revenue for the period in the dataset?

In [46]:


# Calculate the revenue for each item (item_price * quantity) and create a new column

chipo['revenue']=chipo['item_price']*chipo['quantity']

# Calculate the total revenue for the period

total_revenue= chipo['revenue'].sum()

print("total revenue is : $",total_revenue)

total revenue is : $ 39237.02

### Step 15. How many orders were made in the period?

In [47]:
total_order = chipo['order_id'].nunique()

# use the nunique() method to count the number of unique order IDs in the 'order_id' column, which represents individual orders.

print("total number of order were made in the period : ", total_order)

total number of order were made in the period :  1834

### Step 16. What is the average revenue amount per order?

In [48]:
# Solution 1
#calculate the total revenue per order

#Average = {Sum of Observations} Ã· {Total number of Observations}


average_revenue_per_order=total_revenue/total_order



print("average_revenue_per_order: ", average_revenue_per_order)

average_revenue_per_order:  21.39423118865867

In [52]:
# Solution 2
## Group the DataFrame by 'order_id' and calculate the sum of revenue for each order

order_revenue=chipo.groupby('order_id')['revenue'].sum()

# Calculate the average revenue per order
average_revenue_per_order = order_revenue.mean()   

print('average revenue per order :' , average_revenue_per_order)

average revenue per order : 21.39423118865867

### Step 17. How many different items are sold?

In [53]:
# Count the number of unique items sold


print("Total number of different items sold:", chipo['item_name'].nunique())

Total number of different items sold: 50